@import './variables.css';

.root {
	composes: mdc-button from '@material/button/dist/mdc.button.css';
}

.unelevated {
	composes: mdc-button--unelevated from '@material/button/dist/mdc.button.css';
}

.dense {
	composes: mdc-button--dense from '@material/button/dist/mdc.button.css';
}
